.box-card{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1rem;
}

.box-favorite-icon {
    height: 2vh;
    display: flex;
    align-items: flex-start;
}

.card-favorite-icon-out {
    display: none;
}

.card-favorite-icon-in {
    display: block;
    cursor: pointer;
    align-self: flex-end;
}
/* .card-favorite-icon:hover {

} */