.App {
  text-align: center;
}

.route {
  background-color: #00ff01;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  width: 12%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.App-link {
  color: #61dafb;
}

